<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ipAddress</key>
	<string>0.0.0.0</string>
	<key>networks</key>
	<array>
		<dict>
			<key>supernode</key>
			<string>188.40.33.5:1099</string>
			<key>key</key>
			<string>encryptme</string>
			<key>community</key>
			<string>mynetwork</string>
		</dict>
	</array>
</dict>
</plist>
